{% extends 'base.html.twig' %}

{% block title %}Vacation request already submitted{% endblock %}

{% block body %}
    <h2>Request has already been submitted</h2>
    <a href="{{ path('app_worker')}}">EXIT</a>
{% endblock %}
