{% extends 'base.html.twig' %}

{% block title %}Add team{% endblock %}

{% block body %}
    {{ form_start(form, { 'attr': { 'class': 'default_block' }}) }}
        <h4>Add team</h4>
        {{ form_widget(form, { 'attr': { 'class': 'default_block_content' }}) }}
        <div class="default_block_exit">
            <a href={{ path('app_admin') }}>RETURN</a>
        </div>
    {{ form_end(form) }}
{% endblock %}