#base {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#title_and_login {
    text-align: center;
}

#title_and_login > h1 {
    margin-bottom: 10%;
}