form[name="edit_employee"] {
    width: 40%;
}

#edit_employee_roles {
    border-radius: 25px 0px 0px 25px;
}

@media only screen and (max-width: 1200px) {
    form[name="edit_employee"] {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    form[name="edit_employee"] {
        width: 80%;
    }
}
