form[name="change_password"] {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    width: 30%;
}

@media only screen and (max-width: 1200px) {
    form[name="change_password"] {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    form[name="change_password"] {
        padding: 20px;
        text-align: center;
        width: 80%;
    }
    
    form[name="change_password"] > div:nth-of-type(2) {
        justify-content: space-evenly;
    }
}
